@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

#root {
	font-family: 'Open Sans', sans-serif;
}
ul {
  list-style: none;
  padding-left: 0;
}

@media screen and (max-width: 1100px) {
	.sidebar {
		padding: 1vw 0 0 1vw !important;
	}
	.sidebar h3, h6 {
		font-size: 0.9em;
	}
}
